---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/users', {
  version: 'published',
})

const story = data.story
---

<Layout title="Administración de Usuarios">
  <div class=" w-full">
    <header class="fmb-10 pb-10">
      <div class=" border-b border-slate-700 pb-6">
        <h1 class="text-4xl font-extrabold text-white tracking-tight">Gestión de Equipo</h1>
        <p class="text-slate-400 mt-2">Administra los accesos y roles de los evaluadores técnicos.</p>
      </div>
    </header>
    
    <StoryblokComponent blok={story.content} />
  </div>
</Layout>